
.cards {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 100px;
    height: 100px;
    background-color: #80848c;
    margin: 10px;
    border-radius: 10px;
}

.card.active {
    background-color: lightgreen;
}

.finish-message {
    text-align: center;
    font-family: Arial, sans-serif;
    color: red;
}

.error {
    text-align: center;
    font-family: Arial, sans-serif;
    color: red;
}