
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

.header {
    background-color: #384D48;
    text-align: center; 
    height: 120px;
    align-items: center;
    display: flex;
    justify-content: center;

    font-family: "Parkinsans";
    color: black;
    font-size: 30px;

}