
@import url(header.css);
@import url(cards.css);

.parent {
    display: flex;
    gap: 100px;
    justify-content: center;
}

.child {
    background-color: orange;
    height: 100px;
    width: 100px;
}

body {
    background-color: #D8D4D5;
}